[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tableauhyperapi = "*"
jinja2 = "*"
pandas = "*"
pantab = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.12"
